*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif, Arial, Helvetica;
    background-color: #fff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.4)), url(../images/plat.jpg) no-repeat center center;
    background-size: cover; 
    height: 90vh;
}

.icone {
    background-color: hsl(28, 76%, 95%);
    padding: flex;
    align-items: center;
    color: #e09353; 
    margin: 20px 0px 20px 0px;
    
    }

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

h2 {
    color: #007bff; /* Couleur du titre */
}

.btn-primary {
    background-color: #007bff; /* Couleur de fond du bouton */
    border: none; /* Supprimer la bordure */
}

.btn-primary:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

@media (max-width: 768px) {
    .hero-text h1{
        font-size: 2.5rem;
    }

    .btn-outline-light {
        /* Personnalisez le style ici pour les petits écrans */
        background-color: rgb(7, 119, 210); /* Exemple : couleur de fond */
        border-color: transparent;  /* Exemple : supprimer la bordure */
    }
}

