* {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)), url('../images/destin.avif'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.text-hero {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3.5rem;
    margin: 0;
}

.hero h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.nav-item {
    margin-right: 30px; 
}

/* styles.css */

body {
    background-color: #fff; /* Couleur de fond douce */
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.btn-primary {
    background-color: #007bff; /* Couleur de fond du bouton */
    border: none; /* Supprimer la bordure */
}

.btn-primary:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .col-md-4 {
        padding: 10px;
    }

    .btn-outline-light {
        /* Personnalisez le style ici pour les petits écrans */
        background-color: rgb(7, 119, 210); /* couleur de fond */
        border-color: transparent; /* supprimer la bordure */
    }
}
